html,
body,
#root {
  height: 80vh;
}

.option-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 46%;
}

.table th {
  text-align: center;
}

.table td,
.table th {
  white-space: nowrap;
}

/* Blink Alert */
.vxz-blinking {
  animation: blinker 1.6s infinite;
}

@keyframes blinker {
  /* 50% {
    opacity: 0;
  } */
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Jumbotron */
.vxz-jumbotron {
  /* margin-top: 10vh; */
  min-width: 100%;
  /* min-height: 80%; */
}

/* Option */
/* .vxz-option {
  margin-top: 20vh;
} */

/* Scoreboard */
.vxz-scoreboard-button {
  font-size: 12px;
  padding: 0 2px 0;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .vxz-table-swipe {
    display: none;
  }
}
