.option-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 46%;
}

.table th {
  text-align: center;
}

.table td,
.table th {
  white-space: nowrap;
}

/* Blink Alert */
.vxz-blinking {
  animation: blinker 1.6s infinite;
}

@keyframes blinker {
  /* 50% {
    opacity: 0;
  } */
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scoreboard */
.vxz-scoreboard-button {
  font-size: 12px;
  padding: 0 2px 0;
  margin-left: 0.5rem;
}
